---
layout: archive
---

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<br>
<b>What should I wear?</b>
<br>
Please dress formally. And bring a rain coat, just in case! 
<br>
<br>
<b>What time should I arrive?</b>
<br>
The doors will open at 2pm, the ceremony will start at 2:30pm. 
<br>
<br>
<b>Do you have a registry?</b>
<br>
We are grateful for your presence at the wedding, so gifts are not expected.
<br>
<br>
<b>Is there free parking at Golden Gardens Bathhouse?</b>
<br>
Yes, but it is limited (first come-first serve), so carpool or Uber/Lyft if possible, especially if you plan on drinking. 
<br>
<br>
<b>Can I bring my kid(s)/a plus one?</b>
<br>
Due to the venue’s constraints, we are limited to a certain number of guests.  Only those listed on your invitation can be accommodated. All guests must be 21+ years old. 
<br>
<br>
<b>When is the RSVP deadline?</b>
December 31, 2017
<br>
<br>
<b>Is there a reception afterwards?</b>
<br>
Yes, dinner and dancing to follow the ceremony. Dinner will be a buffet with vegan/gluten-free options available. 
<br>
<br>
<b>When does the reception end?</b>
<br>
The reception ends at 9:30pm.
<br>
<br>
<b>Will there be alcohol?</b>
<br>
There will be an open bar during the reception. Please bring your ID, if you plan on drinking. 
<br>
<br>
<b>Can I take home the centerpiece at my table after the reception?</b>
<br>
Yes, please do. 
<br>
<br>
<b>What should I do while I’m in Seattle?</b>
<ul>
<li>visit the MoPop (Museum of Pop Culture)</li>
<li>visit the Seattle Aquarium</li>
<li>take the ferry to Bainbridge Island</li>
<li>go to the top of the Space Needle</li>
<li>canoe on Lake Washington at the UW WAC</li>
<li>kayak on Lake Union</li>
<li>take the Seattle Underground Tour</li>
<li>take a boat tour of Lake Union or the Puget Sound</li><li>visit the Living Computer Museum</li>
<li>visit the MOHAI (Museum of History and Industry)</li>
<li>visit Pike Place Market</li>
<li>visit the Seattle Art Museum</li>
<li>get ice cream at Molly Moon’s</li>
</ul>
<br>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
