---
layout: archive
---

<h3>STORY TIME: HOW WE MET OUR SOULMATES!!!!</h3>
<br>
<b>But first, some stats...</b>
<br>
Eric and Nicole have been dating since April 14, 2014 (almost 4 years at the time of the wedding). 
During their relationship, Eric and Nicole were long distance for a sum of 18 months. 
<br>
During their long distance, they exchanged thousands of messages. Here is a word cloud of their messages:
<br>
<img src="/pics/name_removed.png">
<br>
Our Timeline
<ul>
<li>April 11, 2014 first message</li>
<li>April 14, 2014 first date</li>
<li>June 2014 - September 2014 long distance</li>
<li>October 3, 2015 getting a dog together</li>
<li>June 2015 Eric graduates from Cal Poly</li>
<li>June 2015 - September 2016 long distance</li>
<li>June 2016 Nicole graduates from Cal Poly</li>
<li>September 5, 2016 moving in together</li>
<li>March 4, 2017 getting engaged</li>
<li>March 31, 2018 getting married</li>
</ul>
<br>
<br>
<br><b>How We Met</b>
<br>
We met on a dating app called OkCupid. Here is a screen shot of our first messages. It is very embarrassing. 
<br><br>
<img src="/pics/okc1.PNG">
<br><br>
We were both attending Cal Poly at the time, Eric finishing his Bachelors degree in Mechanical Engineering and Nicole at the end of her second year in Computer Science. We first met in person at the Campus Market Starbucks on campus, where we sat outside, drank iced black coffees, chatted about our spring breaks, and got sunburned (at least Eric did). Our first few dates were going to SLO farmer’s market, hiking the Cal Poly architecture graveyard, watching Wayne’s World at the Palm Theatre, and watching The Life Aquatic in Eric’s living room. 
<br>
<br>
<b>How We Got Engaged</b>
<br>
Eric, Nicole, and Gracie were walking through Seward park in Seattle. We stopped at the edge of Lake Washington to skip rocks, just like we used to at Laguna Lake in San Luis Obispo. Eric is great at skipping rocks, but Nicole basically just throws the rocks in the water as hard as she can. After Nicole had given up on skipping rocks, Eric begged her to try one more time. Nicole started searching for a flat rock on the ground, and when she turned around, Eric was on one knee. He said, “Nicole Giusti, will you marry me?” Nicole hastily shoved the ring on her finger before saying “sure, I guess”. While walking away from the lake, Nicole immediately slipped and fell on a slippery log. After finishing our walk through Seward park, we got brunch with Gracie to celebrate. 
<br><br>
Us @ Laguna Lake
<br>
<img src="/pics/laguna.jpg">
<br><br>
Us 3 minutes after getting engaged
<br>
<img src="/pics/engagement.JPG">
<br>
<br>
<b>BONUS!!!! We Like Ice Cream</b>
<br>
<img src="/pics/ice_cream.jpg">
<br>
<br>
<img src="/pics/ice_cream2.JPG">
<br>
<br>
<img src="/pics/ice_cream3.JPG">
<br>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
